body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom right, #f0f5f5, #e0e8e8);
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #2e7d32, #4caf50);
    color: white;
    padding: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky; /* Tambahkan properti ini */
    top: 0; /* Tambahkan properti ini */
    z-index: 1; /* Tambahkan properti ini */
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

#Container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

#imageContainer {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#imageContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#imageContainer img {
    max-width: 100%;
    max-height: 400px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

#imageContainer img:hover {
    /* transform: scale(1.1); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#imageContainer p {
    margin-top: 5px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    resize: vertical;
    transition: box-shadow 0.3s ease;
    box-align: center;
    text-align: center;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button, .file-input {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    box-align: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover, .file-input:hover, .download-button:hover{
    background-color: #3e8e41;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button i,
.file-input i {
    margin-right: 8px;
}

.file-input {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-input:hover {
    background-color: #3e8e41;
}

.file-input input[type="file"] {
    display: none;
}

a {
    text-decoration: none;
}

.download-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}


#result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.input-group textarea {
    margin: 5px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-group button {
    margin: 0 5px;
}

@media (max-width: 768px) {
    #imageContainer img {
        max-width: 300px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .input-group {
        flex-direction: row;
        align-items: stretch;
    }

    .input-group textarea,
    .file-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .button-group {
        width: 150px;
        flex-direction: column;
        align-items: center;
    }

    .button-group button {
        margin: 5px 0;
        width: 100%;
        max-width: 300px;
    }
}